@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap');

.mainContainer{
  font-family: 'Tomorrow', sans-serif;
}

.headerContainer{
  display: flex;
  flex-direction: row;
}

.cardBorder{
  width: 95%;
  padding: 1px;
background: linear-gradient(#ECF0FF1A,#3B3F5700);
border-radius: 30px; 
}

.cardLayout{
  width: 18%;
}